<!DOCTYPE html>
<html lang="{{ DEFAULT_LANG }}" ng-app="blogAdmin">
<head>
	<!-- Site stuff -->
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<link rel="shortcut icon" type="image/png" href="/favicon.png" />

	<!-- Page stuff -->
	<title>Admin panel - {{ SITENAME }}</title>
	<link rel="canonical" href="{{ SITEURL }}/admin/" />
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic">
</head>
<body ng-controller="BaseCtrl" ng-cloak>
	<header class="header">
		<h1>{{ SITENAME }}</h1>
		<h2>Admin Panel</h2>

		<md-button ng-if="isAuthenticated === true" ng-click="logout()" class="md-accent md-raised">Log out</md-button>
	</header>

	<div id="content">
		<button ng-if="isAuthenticated !== true" ng-click="login()" ng-disabled="isLoading">Log in</button>

		<md-content ng-if="isAuthenticated === true && viewState === VIEW_STATE_LIST" ng-controller="ListCtrl" layout="row" layout-align="center center" layout-wrap>
			<md-toolbar class="md-hue-2 md-toolbar-tools">
				<h3 flex md-truncate>Albums</h3>
			</md-toolbar>
			<form ng-submit="createAlbum(newAlbumName)" name="createAlbumForm" layout="row" layout-align="center center" flex="50">
				<md-input-container>
					<label>Add album</label>
					<input ng-model="newAlbumName" ng-disabled="isLoading" />
				</md-input-container>
				<md-button ng-disabled="isLoading" type="submit" class="md-raised md-primary">Add</md-button>
			</form>

			<form ng-submit="listAlbums(searchPrefix)" name="listAlbumsForm" layout="row" layout-align="center center" flex="50">
				<md-input-container>
					<label>Search albums</label>
					<input ng-model="searchPrefix" ng-disabled="isLoading" />
				</md-input-container>
				<md-button ng-disabled="isLoading" type="submit" class="md-raised md-primary">Search</md-button>
			</form>

			<md-list flex="100">
				<md-subheader class="md-no-sticky">Album List</md-subheader>
				<md-list-item ng-repeat="album in albums" ng-click="viewAlbum(album)" ng-disabled="isLoading" class="secondary-button-padding">
					<p>[[album]]</p>
					<md-button ng-click="showDeleteDialog(album)" ng-disabled="isLoading" class="md-secondary">Delete</md-button>
				</md-list-item>
				<md-list-item ng-if="albumCount < 1">
					<p>No albums</p>
				</md-list-item>
			</md-list>
		</md-content>

		<md-content ng-if="isAuthenticated === true && viewState === VIEW_STATE_ALBUM" ng-controller="AlbumCtrl" layout="row" layout-align="center center" layout-wrap>
			<md-toolbar class="md-hue-2 md-toolbar-tools">
				<h3 flex md-truncate>[[albumName]]</h3>

				<md-button ng-click="viewList()" class="md-raised" aria-label="Back to List">
					Back to List
				</md-button>
			</md-toolbar>

			<a ng-repeat="photo in photos" ng-click="openModal($event, photo)" href="[[photo.url]]" class="photo">
				<img src="[[photo.url]]" />
			</a>
			<a ng-if="photoCount < 1" class="photo">
				No photos
			</a>

			<form ng-submit="addPhoto(selectedFile)" name="addForm">
				<file-input ng-model="selectedFile" ng-disabled="isLoading" class="md-raised"></file-input>
				<md-button ng-disabled="isLoading" type="submit" class="md-raised md-primary">Upload</md-button>
			</form>

			<div ng-class="{'modal-show': selectedPhoto !== null}" class="modal">
				<form name="photoForm" class="modal-body">
					<img src="[[selectedPhoto.url]]" class="modal-body-image" />

					<figcaption class="modal-body-caption">
						<p class="modal-body-caption-url">
							[[selectedPhoto.url]]
						</p>
						<p class="modal-body-caption-info">
							Last Modified: [[selectedPhoto.modified]]
						</p>
						<p class="modal-body-caption-info">
							Size: [[selectedPhoto.size]]
						</p>
					</figcaption>

					<div class="modal-body-controls">
						<md-button ng-click="closeModal()" class="md-raised" aria-label="Close">
							Close
						</md-button>
					</div>
				</form>
			</div>
		</md-content>
	</div>

	<md-progress-circular ng-if="isLoading" md-mode="indeterminate" class="thumper"></md-progress-circular>

	<script src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/js/admin.js"></script>

	<script type="text/template" id="file-upload-template">
		<input type="file" class="ng-hide">
		<md-button ng-click="triggerInput()" ng-disabled="ngDisabled" aria-label="attach_file">Choose file</md-button>
		<md-input-container md-no-float>
			<input ng-model="ngModel.name" ng-click="triggerInput()" ng-disabled="ngDisabled" type="text" placeholder="No file chosen" ng-readonly="true" />
		</md-input-container>
	</script>
</body>
</html>
