{% extends "base.html" %}

{% block title %}{{ article.title }}{% endblock %}
{% block page_url %}{{ article.url }}{% endblock %}
{% block description %}{{ article.summary|striptags }}{% endblock %}
{% block social_image %}{{ article.featured }}{% endblock %}
{% block header_class %} sheer{% endblock %}

{% block meta_other %}
	{% for tag in article.tags %}
		<meta name="tags" content="{{ tag }}" />
	{% endfor %}
	{% for author in article.authors %}
		<meta name="author" content="{{ author }}" />
	{% endfor %}
	{% for keyword in article.keywords %}
		<meta name="keywords" content="{{ keyword }}" />
	{% endfor %}

	<script type="application/ld+json">
		{
			"@context": "http://schema.org",
			"@type": "Article",
			"name": "{{ article.title|striptags }}",
			"headline": "{{ article.title|striptags }}",
			"datePublished": "{{ article.date }}",
			"dateModified": "{{ article.modified }}",
			"author": {
				"@type": "Person",
				"name": "{{ article.author.name }}",
				"url": "{{ SITEURL }}/{{ article.author.url }}"
			},
			"image": "{{ article.featured }}",
			"url": "{{ SITEURL }}/{{ article.url }}",
			"description": "{{ article.summary|striptags }}",
			"publisher": {
				"name": "{{ SITENAME }}",
				"@type": "Organization",
				"logo": {
					"@type": "ImageObject",
					"url": "{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/favicon.png",
					"width": 400,
					"height": 400
				}
			}
		}
	</script>
{% endblock %}

{% block twitter_card %}summary_large_image{% endblock %}
{% block twitter_other %}
	{% for author in article.authors if author.name in AUTHORS and AUTHORS[author.name].twitter %}
		<meta name="twitter:creator" content="@{{ AUTHORS[author.name].twitter }}" />
	{% endfor %}
{% endblock %}

{% block og_type %}article{% endblock %}
{% block og_other %}
	<meta property="article:published_time" content="{{ article.date }}" />
	<meta property="article:modified_time" content="{{ article.metadata.modified }}" />
	<meta property="og:updated_time" content="{{ article.metadata.modified }}" />
	<meta property="article:section" content="{{ article.category }}" />
	{% for category in article.subcategories.__str__().split(',') %}
		<meta property="article:section" content="{{ category.strip() }}" />
	{% endfor %}
	{% for author in article.authors if author.name in AUTHORS and AUTHORS[author.name].facebook %}
		<meta property="article:author" content="https://www.facebook.com/{{ AUTHORS[author.name].facebook }}" />
	{% endfor %}
{% endblock %}

{% block content %}
	<header class="article-header parallax-background" style="background-image: url({{ article.featured }})">
		<h1 class="article-title">{{ article.title }}</h1>
		<span class="article-date">{{ article.date.strftime(DEFAULT_DATE_FORMAT) }}</span>
		<span class="article-category">
			In
			<a href="{{ SITEURL }}/{{ article.category.url }}">{{ article.category }}</a>
			{% if article.subcategories %}, {{ article.subcategories }}{% endif %}
		</span>
		<span class="article-author">By <a href="{{ SITEURL }}/{{ article.author.url }}">{{ article.author }}</a></span>
	</header>

	<article class="article">
		<div class="article-wrapper">
			<section class="article-content">
				{{ article.content }}
			</section>

			<section class="article-meta">
				<ul class="tag-list">
					{% for tag in article.tags %}
						<li><a href="{{ SITEURL}}/{{ tag.url }}">{{ tag }}</a></li>
					{% endfor %}
				</ul>

				<aside class="article-author">
					<img src="{{ article.author.gravatar_url }}?s=200&d=mm&r=r" class="article-author-image" />
					<div class="article-author-info">
						<h3 class="article-author-name">
							<a href="{{ SITEURL }}/{{ article.author.url }}">{{ article.author.name }}</a>
						</h3>
						<p class="article-author-bio">{{ AUTHORS[article.author.name].bio }}</p>
						<ul class="article-author-social">
							{% if AUTHORS[article.author.name].facebook %}
								<li><a href="https://facebook.com/{{ AUTHORS[article.author.name].facebook }}"><i class="fa fa-facebook"></i></a></li>
							{% endif %}
							{% if AUTHORS[article.author.name].twitter %}
								<li><a href="https://twitter.com{{ AUTHORS[article.author.name].twitter }}"><i class="fa fa-twitter"></i></a></li>
							{% endif %}
							{% if AUTHORS[article.author.name].instagram %}
								<li><a href="https://instagram.com{{ AUTHORS[article.author.name].instagram }}/"><i class="fa fa-instagram"></i></a></li>
							{% endif %}
							{% if AUTHORS[article.author.name].website %}
								<li><a href="{{ AUTHORS[article.author.name].website }}"><i class="fa fa-link"></i></a></li>
							{% endif %}
							<li>
						</ul>
					</div>
				</aside>
			</section>
		</div>

		{% if ADSENSE_CLIENT_ID and ADSENSE_SLOT_ID %}
			{% include "partials/adsense.html" %}
		{% endif %}

		{% if DISQUS_SITENAME %}
			<hr />

			<div class="article-wrapper">
				<script>
					var disqus_config = function () {
						this.page.url = '{{ SITEURL }}/{{ article.url }}';
						this.page.url = 'http://local.workingmirror.com:8000/{{ article.url }}';
						this.page.title = '{{ article.title }}';
						{% if article.disqus_identifier %}
							this.page.identifier = '{{ article.disqus_identifier }}';
						{% else %}
							this.page.identifier = '/{{ article.url }}';
						{% endif %}
					};
				</script>
				{% include "partials/disqus.html" %}
			</div>
		{% endif %}
	</article>
{% endblock %}
