{% extends "base.html" %}

{% block meta_other %}
	<script type="application/ld+json">
		{
			"@context" : "http://schema.org",
			"@type" : "Website",
			"name": " {{ SITENAME }} ",
			"url" : "{{ SITEURL }}",
			"image": "{{ SITEURL }}/theme/images/social-header.png",
			"description": "{{ SITEDESCRIPTION }}"
		}
	</script>
{% endblock %}

{% block content %}
	{% with shown_posts = {} %}
		<section class="iso-posts">
			{% for article in articles_page.object_list if article.url not in shown_posts and shown_posts|length < 3 %}
				<a href="{{ SITEURL }}/{{ article.url }}" title="{{ article.title|striptags }}" class="post-block" data-count="{{ shown_posts }}">
					<div class="post-header">
						<span class="post-block-date">{{ article.date.strftime(DEFAULT_DATE_FORMAT) }}</span>
						<span class="post-block-category">
							{{ article.category }}{% if article.subcategories %}, {{ ', '.join(article.subcategories) }}{% endif %}
						</span>
						<h3 class="post-block-title">{{ article.title }}</h3>
						<span class="post-block-summary">{{ article.summary }}</span>
					</div>
					<div class="post-featured" style="background-image: url({{ article.featured }})"></div>
				</a>
				{% do shown_posts.update({article.url: True}) %}
			{% endfor %}
		</section>

		{% include "partials/adsense.html" %}

		<section class="even-posts">
			{% for article in articles_page.object_list if article.url not in shown_posts and shown_posts|length < 9 %}
				<a href="{{ SITEURL }}/{{ article.url }}" title="{{ article.title|striptags }}" class="post-block">
					<div class="post-header">
						<span class="post-block-date">{{ article.date.strftime(DEFAULT_DATE_FORMAT) }}</span>
						<h3 class="post-block-title">{{ article.title }}</h3>
						<span class="post-block-summary">{{ article.summary }}</span>
					</div>
					<div class="post-featured" style="background-image: url({{ article.featured }})"></div>
				</a>
				{% do shown_posts.update({article.url: True}) %}
			{% endfor %}
		</section>

		{% include "partials/adsense.html" %}

		<section class="news-posts parallax-background">
			<h2 class="news-header">Hot Scoops</h2>
			{% for article in articles_page.object_list if article.category.__str__() == 'News' and article.url not in shown_posts and shown_posts|length < 12 %}
				<div class="post-block">
					<div class="post-header">
						<span class="post-block-date">{{ article.date.strftime(DEFAULT_DATE_FORMAT) }}</span>
						<h3 class="post-block-title"><a href="{{ SITEURL }}/{{ article.url }}" title="{{ article.title|striptags }}">{{ article.title }}</a></h3>
						<span class="post-block-summary">{{ article.summary }}</span>
					</div>
				</div>
				{% do shown_posts.update({article.url: True}) %}
			{% endfor %}
		</section>

		{% include "partials/adsense.html" %}
	{% endwith %}
{% endblock %}

{% block related_posts %}
	{% for related_post in articles_page.object_list[0].related_posts %}
		<li><a href="{{ SITEURL }}/{{ related_post.url }}">{{ related_post.title }}</a></li>
	{% endfor %}
{% endblock %}
